name: Trigger-submodule-update

on: 
  push:
    branches:
      - master

jobs: 
  trigger-submodule-update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2.0.0
        with:
          token: ${{ secrets.PAT_SECRET }}
          repository: is-tech-y24-1/Do-Svyazi
          event-type: update-submodule
          client-payload: '{"submodule_name" : "Do-Svyazi.User"}'
