name: Trigger-submodule-update

on: 
  push:
    branches:
      - master

jobs: 
  trigger-submodule-update:
    runs-on: ubuntu-latest
    
    steps:
      - name: send_dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{secrets.PAT_TOKEN}}
          repository: is-tech-y24/Do-Svyazi
          event-type: update-submodule
          client-payload: '{"submodule_name" : "Do-Svyazi.User"}'